.container {
  display: flex;
}

.sm2 {
  width: 20%;
  height: 100vh;
  position: fixed;
  display: block;
}

.sm10 {
  height: 100vh;
  margin-left: 20%; /* Add margin to accommodate the width of the sidebar */
}

.productTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
