.wrapper {
  margin: 0 auto;
  height: 270px;
  overflow-y:auto;
  object-fit: cover;
  background: rgb(238, 227, 227);
}

.wrapper2 {
  margin: 0 auto;
  height: 500px;
  overflow-y:hidden;

}

.caro-width{
  height: 20vh;
}

.list-col{
  margin: 0 auto;
}

/* .wrapper Card.Img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotate(90deg) scale(0.6);
}
 */