.wrapper {
  margin: 0 auto;
  height: 270px;
  overflow-y:auto;
  object-fit: cover;
  background: rgb(238, 227, 227);
}

.wrapper2 {
  margin: 0 auto;
  max-height: 350px;
  overflow-y:hidden;

}

.caro-width{
  height: 20vh;
}

.list-col{
  margin: 0 auto;
}


