* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
  background: #000;
  color: #fff;
  height: 150vh;
  width: 20vw;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  transition: all 0.5s;
  text-decoration: none !important;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
  text-decoration: none !important;
}

.active {
  background: rgb(135, 233, 250);
  color: #000;
}

.active2 {
  background: rgb(250, 175, 135);
  color: #000;
}

.icon,
.link_text {
  text-decoration: none !important;
  width: 80px;
}

#show_container {
  position: relative;
}

.left_show {
  position: fixed;
}

.right_show {
  position: absolute;
  width: 80vw;
  top: 0;
  left: 20vw;
}

.ya1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CSS */
.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
